.custom-navbar {
  padding: 0.8rem 1rem;
  background-color: #343a40;
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-nav {
  flex-grow: 1;
  justify-content: center;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

.navbar-buttons {
  display: flex;
  justify-content: flex-end;
}

.ml-2 {
  margin-left: 0.5rem;
}

button {
  font-size: 1rem;
  font-weight: 500;
}
